@charset "UTF-8";

:root{
    --header_color: #171A21;
    --bg_color: #203153;
    --bg_game_color: #0A141D;
    --hover_color: white;
    --font_color: silver;
}


a:hover{
    color: white;
    transition: 0.8s;
}

img#steam{
    min-width: 100px;
    max-width: 300px;
}

img#re4_logo{
    

    min-width: 100px;
    max-width: 400px;    
}

main nav#barra_busca{
    padding: 10px;
    background-image: linear-gradient(to right, #338bd2, #0F216E);
    height: 20px;
    min-width: 400px;
    max-width: 940px;
    margin: auto;
    align-items: center;
    display: flex;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.373);
}

article{
    align-items: start;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.742);
    display: flex;
    margin: auto;
    background-color: black;   
    min-width: 200px;
    max-width: 960px;

}

article div#game_background{
    
    background-image: url(../img/re4/re4_logo.webp);
    height: 353px;
    width: 625px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;  
}

article div#game_name{
    padding-top: 25px;
    min-width: 200px;
    max-width: 400px;
    font-size: 1.8em;
    padding-left: 0px;
    color: white;    

}

img#re4_mini{
    width: 80px;
}


article div#geral{
   display: grid;
   grid-template-columns: 3 50px;  
   grid-template-rows: 100px 100px;
}



.texto_busca{
    color: white;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.305);
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
}

.texto_busca:hover{
    background-color: #2f75af;
}


