@charset "UTF-8";

a:hover{
    color: white;
    transition: 0.8s;
}

img#steam{
    min-width: 100px;
    max-width: 300px;
}

main nav#barra_busca{
    padding: 10px;
    background-image: linear-gradient(to right, #338bd2, #0F216E);
}


.texto_busca{
    color: white;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.305);
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
}

.texto_busca:hover{
    background-color: #2f75af;
}

