@charset "UTF-8";

:root{
    --header_color: #171A21;
    --bg_color: #203153;
    --bg_game_color: #0A141D;
    --bg_offer_color: #1B293A;
    --hover_color: white;
    --font_color: silver;
}



a:hover{
    color: white;
    transition: 0.8s;
}

img#steam{
    min-width: 100px;
    max-width: 300px;
}

img#re4_logo{
    min-width: 100px;
    max-width: 400px;    
}

main nav#barra_busca{
    padding: 10px;
    background-image: linear-gradient(to right, #338bd2, #0F216E);
    height: 20px;
    min-width: 400px;
    max-width: 940px;
    margin: auto;
    align-items: center;
    display: flex;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.373);
}


div#geral{
    display: grid;
    gap: 5px;
    grid-template-columns: 350px;
    grid-template-rows: 100px;

}

div#imagem_container{
    
    display: grid;
    justify-content: center;
    align-items: start;

}

div#text_container{
    justify-content: center;
    align-items: center;
    height: fit-content;
    display: flex;
    color: white;
    font-size: 1.7em;

}


div#imagem{

    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 100px 100px;

}

div#imagem img{
    width: 130px;
}

article div#game_background{
    background-image: url(../img/re4/re4_logo.webp);
    height: 355px;
    width: 600px;
    background-size: 100%;
    background-position: start ;
    background-repeat: no-repeat;
}


section#offer_container{

    background-color: var(--bg_offer_color);
    height: 500px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.864);
}


section h3#offer_text{
    padding-left: 260px;
    padding-top: 30px;
    padding-bottom: 10px;
}

section div#image_offer_container_background{
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.782);
   
    margin: auto;
    display: flex;
    padding-right: 20px;
    min-width: 200px;
    max-width: 940px;
    background-color: black;
    height: 350px;
}

.offer_image{

    padding-left: 15px;
    display: flex;
    cursor: pointer;
}

.texto_busca{
    color: white;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.305);
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
}

.texto_busca:hover{
    background-color: #2f75af;
}

.texts{
    text-align: start;
    padding-bottom: 10px;
    padding-left: 240px;
    padding-top: 40px;
    font-weight: normal;
    color: white;
    font-size: 0.9em;
}
