@charset "UTF-8";

:root{
    --header_color: #171A21;
    --bg_color: #203153;
    --hover_color: white;
    --font_color: silver;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

img{
    width: 100%;
}

h3{
    margin-left: 240px;
    margin-top: 30px;
    font-weight: normal;
    color: white;
    font-size: 0.9em;
}

header{
    padding: 40px;
    height: 60px;
    min-width: 300px;
    max-width: 1500px;
    background-color: var(--header_color);
}

main{
    background-color: var(--bg_color);
    height: 700px;

    padding: 20px;

}

main nav#barra_busca{
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.373);
    display: flex;
    background-color: white;
    height: 20px;
    min-width: 400px;
    max-width: 940px;
    margin: auto;
    align-items: center;
    
}


a{
    margin-left: 30px;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    color: var(--font_color);
}

header nav{
    text-align: center;
}


div{
    align-items: center;
    justify-content: center;
    display: flex;
}
