@charset "UTF-8";

:root{
    --header_color: #171A21;
    --bg_color: #203153;
    --bg_game_color: #0A141D;
    --hover_color: white;
    --font_color: silver;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}


img{
    width: 100%;
}

h3{
    text-align: start;
    padding-bottom: 10px;
    padding-left: 240px;
    padding-top: 40px;
    font-weight: normal;
    color: white;
    font-size: 0.9em;
}

header{
    padding: 40px;
    height: 60px;
    min-width: 300px;
    max-width: auto;
    background-color: var(--header_color);
}

main{
    background-color: var(--bg_color);
    height: 900px;
    padding: 20px;
}

a{
    margin-left: 30px;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    color: var(--font_color);
}

header nav{
    text-align: center;
}


article{
    align-items: start;
    position: relative;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.742);
    display: flex;
    margin: auto;
    background-color: black;   
    min-width: 200px;
    max-width: 960px;

}

div{
    align-items: center;
    justify-content: center;
    display: flex;
}

span{
    cursor: pointer;
}
