@charset "UTF-8";

:root{
    --header_color: #171A21;
    --bg_color: #203153;
    --bg_game_color: #0A141D;
    --hover_color: white;
    --font_color: silver;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

img{
    width: 100%;
}

h3{
    max-width: 740px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin-right: 740px;
    
    padding-top: 20px;
    font-weight: normal;
    color: white;
    font-size: 0.9em;
}

header{
    padding: 40px;
    height: 60px;
    min-width: 300px;
    max-width: 1500px;
    background-color: var(--header_color);
}

main{
    background-color: var(--bg_color);
    height: 700px;
    padding: 20px;
}

a{
    margin-left: 30px;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    color: var(--font_color);
}

header nav{
    text-align: center;
}


div{
    align-items: center;
    justify-content: center;
    display: flex;
}

span{
    cursor: pointer;
}
